<a href="https://colab.research.google.com/github/arssite/POTD_HUSTLE/blob/main/pyramid_training/Bit_Manipulation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [12]:
def eq2k(k,n):
  print(1<<k)
  print(1<<n)
  print((1<<k)+(1<<n))

In [13]:
k,n=map(int,input('enter: ').split())
eq2k(k,n)

enter: 2 4
4
16
20

In [18]:
def flip(x,c):
  x,c,count=bin(x),bin(c),0
  mx=min(len(x),len(c))
  for i in range(mx):
    if x[i]!=c[i]:
      count+=1
  return count

In [19]:
print(flip(5,3))

1

In [21]:
# Python3 program for the above approach

# Function that count set bits


def countSetBits(n):
	count = 0
	while n:
		count += 1
		n &= (n-1)
  ('gdg',n &= (n-1))
	return count

# Function that return count of
# flipped number


def FlippedCount(a, b):

	# Return count of set bits in
	# a XOR b
	return countSetBits(a ^ b)


# Driver code

# This code is contributed by "Sharad_Bhardwaj".

In [27]:

a = 5
b = 3

# Function call
print(FlippedCount(a, b))

2

In [30]:
a=int(input())
b=int(input())
x=str(a^b)
print(x)
count=0
for i in x:
  if i=='1':
    count+=1
print(count)

5
3
6
0

In [33]:
#final

a=int(input())
b=int(input())
x=a^b
count=0
while x>0:
  if (x&1)==1:
    count+=1
  x=x>>1
print(count)

5
3
2

In [36]:
n=int(input())
for i in range(1,n):
  print("3 ki multiple",3*i,'\t',"5 ki mutiple",5*i)

10
3 ki multiple 3 	 5 ki mutiple 5
3 ki multiple 6 	 5 ki mutiple 10
3 ki multiple 9 	 5 ki mutiple 15
3 ki multiple 12 	 5 ki mutiple 20
3 ki multiple 15 	 5 ki mutiple 25
3 ki multiple 18 	 5 ki mutiple 30
3 ki multiple 21 	 5 ki mutiple 35
3 ki multiple 24 	 5 ki mutiple 40
3 ki multiple 27 	 5 ki mutiple 45

In [53]:
n=int(input())
c=0
for i in range(1,n+1):
  if i%3==0:
    c+=1
  elif  i%5==0:
    c+=1
print(c)

15
7

In [56]:
n = int(input())
c = (n // 3) + (n // 5) - (n // 15)
print(c)

15
7

In [61]:
l,b=map(float,input().split())
print(int(l*b),int(2*(l+b)))

3  5
15 16

In [63]:
n=int(input())
if n <2:
  print("not prime")
else:
  for i in range(2,n):
    if n%i==0:
      print("not prime")
      break
  else:
    print("prime")

7
prime

In [62]:
def is_prime(n):
  if n <= 1:
    return False
  for i in range(2, int(n**0.5) + 1):
    if n % i == 0:
      return False
  return True

print(is_prime(5))
print(is_prime(10))

True
False

In [66]:
n=int(input())
k=int(input())
print(k%n)

10
100
0

In [ ]:
n=int(input())
for i in range(1,n+1):
  if n%i==0:

In [73]:
def fib(n):
  sum=0
  if n==0:
    return sum
  else:
    return n + fib(n-1)

n=int(input())
print(fib(n))

10
55

In [89]:
n=int(input())
n=(n*(n+1))//2
n

10

55

In [91]:
n=int(input())
n=(n*(n+1)*(2*n+1))//6
print(n)

15
1240

In [92]:
n=int(input())
n=((n*(n+1))//2)**2
print(n)

4
100

In [93]:
a,b=map(int,input().split())
print(a*b)

5 8
40

In [97]:
x,y=map(int,input().split())
print(2*(x+y))

3 4
14

In [98]:
x=int(input())
v=x%10


#print(x[::-1])

1234
4321

In [101]:
x=input()
print(x[-1]+x[1:-1]+x[0])

1234
4231

In [102]:
x=input()
print('3'+x+'3')

2356
323563

In [107]:
x=input()
for i in x:
  if i.isdigit():  # Check if the character is a digit
    print(int(i))

-256
2
5
6

In [104]:
x=input()
print(x[0])
print(x[1])
print(x[2])

198
1
9
8

In [111]:
x=str(input())
a,b,c=int(x[0]),int(x[1]),int(x[2])
print(a+b+c,a*b*c)

234
9 24

In [114]:
#previous list element is greater then sum with other
x=list(map(int,input().split()))
y=sorted(x)
print(y)

#x=int(input())

10
[10]

In [118]:
x=list(map(int,input().split()))
res=x[0]
cur_mx=x[0]
for i in x:
  if i>cur_mx:
    res+=i
    curr_mx=i
print(res)

400 50 500
900

In [119]:
x=input()
print(x[1:3])

4563
56

In [120]:
x,y=map(int,input().split())
print(x**2+y**2)

2 3
13

In [121]:
x=int(input())
print(x**3)

2
8

In [122]:
x=input()
print(x[-1]+x[1:-1]+x[0])

1235
5231

In [127]:
7r=int(input())
c=int(input())
lst=[]
for i in range(r):
  tlst=list(map(int,input().split()))
  lst.append(tlst)
for i in range(r):
  for j in range(c):
    print(lst[i][j],end=' ')
  print()

4
5
6866
5455
4445
5556
6866

IndexError: list index out of range

In [132]:
matrix = [[1, 2, 3],[4, 5, 6],[7, 8, 9]]
n = len(matrix)
primary_sum = 0
secondary_sum = 0
for i in range(n):
  primary_sum += matrix[i][i]
  secondary_sum += matrix[i][n - 1 - i]
print(primary_sum, secondary_sum)

15 15